{% extends 'base.html.twig' %}

{% block title %}Hello PeopleController!{% endblock %}

{% block body %}
    {% for flash in app.flashes('failed')%}
        <div class="alert alert-danger">
            {{flash}}
        </div>
    {%endfor%}
<div class="container">
    <h1>Login</h1>
    {{form_start(form)}}
    {{form_row(form.username)}}
    {{form_row(form.password)}}
    {{form_row(form.submit)}}
    {{form_end(form,{'render_rest': false})}}
</div>
{% endblock %}
